.header { 
  height: 63vh;
  background-color: $bg-color-header;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $screen-md-max) {
    height: 42vh;
    background-position-x: center;
  }

  &--bg-home {
    background-image: url('../img/fon-header_home.jpg');
  }

  &--bg-article {
    background-image: url('../img/page-article/fon-header_article.jpg');
  }
}